body {
  background-color: rgb(190, 68, 84);
  text-align: center;
}

h1 {
  color: white;
}

.item {
  list-style-type: none;
  background-color: white;
}

p {
  color: rgb(239, 111, 128);
  margin: 5px;
}
