* {
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
}

footer {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: burlywood;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: aqua;
}

img {
  width: 200px;
  height: 286px;
  border: none;
  border-radius: 10px;
}

ol {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 10px;
  align-items: center;
  text-align: center;
  gap: 50px;
}

ol li {
  list-style-type: none;
  background-color: antiquewhite;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
