body {
  background-color: #d0e1e8;
}

* {
  box-sizing: border-box;
}

.heading-1 {
  text-align: center;
  text-transform: capitalize;
}

.list {
  list-style-type: none;
  text-align: center;
}

.item {
  border-radius: 10px;
  background: #fff;
  width: 325px;
  text-align: center;
  display: inline-block;
  margin: 30px;
}

.heading-2 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 30px;
}

.strong-1 {
  font-size: 30px;
  font-weight: 900;
}

.sublist {
  list-style-type: none;
  margin: 50px;
  border-top: 1px solid #bad1db;
}

.subitem {
  margin: 30px;
}

.strong {
  color: #2b4e5e;
}

.button-1,
.button-2,
.button-3 {
  margin-bottom: 21px;
  margin-left: 33px;
  margin-right: 32px;
  border-radius: 3px;
  border: 2px solid #000;
  color: #2b4e5e;
}

.button-2 {
  background: #2b4e5e;
}

.strong-white {
  color: #fff;
}
